In [1]:
import pandas as pd
import sklearn

In [3]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp310-cp310-win_amd64.whl (25.8 MB)
     --------------------------------------- 25.8/25.8 MB 15.6 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet')

In [23]:
df.isnull().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          540149
trip_distance                 0
RatecodeID               540149
store_and_fwd_flag       540149
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     540149
Airport_fee              540149
cbd_congestion_fee            0
dtype: int64

In [24]:
print(df.shape)
df.tail(20)

(3475226, 20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
3475206,2,2025-01-31 23:24:52,2025-01-31 23:32:53,NaN,1.61,NaN,None,79,211,0,11.11,0.0,0.5,0.0,0.0,1.0,15.86,NaN,NaN,0.75
3475207,2,2025-01-31 23:06:34,2025-01-31 23:19:12,NaN,1.58,NaN,None,249,107,0,10.78,0.0,0.5,0.0,0.0,1.0,15.53,NaN,NaN,0.75
3475208,2,2025-01-31 23:50:58,2025-02-01 00:06:24,NaN,1.56,NaN,None,246,249,0,8.99,0.0,0.5,0.0,0.0,1.0,13.74,NaN,NaN,0.75
3475209,2,2025-01-31 23:11:42,2025-01-31 23:18:30,NaN,1.10,NaN,None,50,163,0,5.22,0.0,0.5,0.0,0.0,1.0,9.97,NaN,NaN,0.75
3475210,2,2025-01-31 23:32:42,2025-01-31 23:41:35,NaN,1.25,NaN,None,161,48,0,9.51,0.0,0.5,0.0,0.0,1.0,14.26,NaN,NaN,0.75
3475211,2,2025-01-31 23:26:24,2025-01-31 23:52:54,NaN,3.97,NaN,None,230,209,0,22.62,0.0,0.5,0.0,0.0,1.0,27.37,NaN,NaN,0.75
3475212,2,2025-01-31 23:00:46,2025-01-31 23:12:08,NaN,1.51,NaN,None,230,229,0,-4.75,0.0,0.5,0.0,0.0,1.0,2.07,NaN,NaN,0.75
3475213,2,2025-01-31 23:23:37,2025-01-31 23:37:01,NaN,1.51,NaN,None,144,231,0,8.60,0.0,0.5,0.0,0.0,1.0,13.35,NaN,NaN,0.75
3475214,2,2025-01-31 23:52:34,2025-02-01 00:03:35,NaN,3.24,NaN,None,65,80,0,17.34,0.0,0.5,0.0,0.0,1.0,18.84,NaN,NaN,0.00
3475215,2,2025-01-31 23:32:04,2025-01-31 23:44:07,NaN,1.78,NaN,None,68,230,0,12.14,0.0,0.5,0.0,0.0,1.0,16.89,NaN,NaN,0.75
3475216,2,2025-01-31 23:58:20,2025-02-01 00:04:17,NaN,1.19,NaN,None,142,50,0,7.65,0.0,0.5,0.0,0.0,1.0,12.40,NaN,NaN,0.75
3475217,2,2025-01-31 23:38:25,2025-01-31 23:46:15,NaN,1.34,NaN,None,234,100,0,-4.75,0.0,0.5,0.0,0.0,1.0,5.00,NaN,NaN,0.75
3475218,2,2025-01-31 23:26:03,2025-01-31 23:34:29,NaN,1.50,NaN,None,79,90,0,9.95,0.0,0.5,0.0,0.0,1.0,14.70,NaN,NaN,0.75
3475219,2,2025-01-31 23:21:00,2025-01-31 23:36:00,NaN,2.12,NaN,None,224,144,0,15.15,0.0,0.5,0.0,0.0,1.0,19.90,NaN,NaN,0.75
3475220,2,2025-01-31 23:26:31,2025-01-31 23:40:04,NaN,1.85,NaN,None,90,144,0,13.40,0.0,0.5,0.0,0.0,1.0,18.15,NaN,NaN,0.75
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.0,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.0,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.0,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.0,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.0,0.0,1.0,16.09,NaN,NaN,0.00

In [25]:
df[df.isnull().any(axis=1)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2935077,2,2025-01-01 00:39:17,2025-01-01 01:10:42,NaN,6.75,NaN,None,48,42,0,2.32,0.0,0.5,0.0,0.0,1.0,14.90,NaN,NaN,0.00
2935078,2,2025-01-01 00:33:40,2025-01-01 01:10:34,NaN,3.88,NaN,None,4,48,0,6.02,0.0,0.5,0.0,0.0,1.0,10.02,NaN,NaN,0.00
2935079,1,2025-01-01 00:09:32,2025-01-01 00:12:38,NaN,0.00,NaN,None,158,158,0,22.72,0.0,0.5,0.0,0.0,1.0,26.72,NaN,NaN,0.00
2935080,2,2025-01-01 00:21:42,2025-01-01 00:36:29,NaN,3.55,NaN,None,137,211,0,-2.35,0.0,0.5,0.0,0.0,1.0,5.80,NaN,NaN,0.00
2935081,2,2025-01-01 00:56:04,2025-01-01 01:06:11,NaN,1.55,NaN,None,140,233,0,5.06,0.0,0.5,0.0,0.0,1.0,9.06,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.0,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.0,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.0,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.0,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.0,0.0,1.0,16.09,NaN,NaN,0.00

In [ ]:
df.isnull().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          540149
trip_distance                 0
RatecodeID               540149
store_and_fwd_flag       540149
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     540149
Airport_fee              540149
cbd_congestion_fee            0
dtype: int64